// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

$color-dark: #0d1117;
$color-dark2: #161b22;
$white: #ffffffff;
$border-radius: 8px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    --bs-bg-opacity: 1;
    background-color: $color-dark !important;
    overflow: hidden;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 0;      
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-dark2;
    border-top: 1px solid #33445c;
    height: auto;
    width: 100vw;
    padding-top: 13px;
    color: $white;
    p {
        text-align: center;
        font-size: 12px;
    }
}

.navbar {
    .nav-link {
        color: white;
        margin: 10px;
        border: 1px solid #33445c;
        border-radius: $border-radius;
        &:hover {
            background-color: #212c3b;
            color: white;
        }
    }
    .navbar-collapse {
        background-color: $color-dark2;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: center;
    }
    img {
        transition: all 0.2s;
        &:hover {
            filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0 3px 5px #ffffff40);
            -webkit-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #ffffff40);
            -moz-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #ffffff40);
            scale: 1.025;
        }
    }
    .active {
        border: 1px solid #ffffff;
        animation: activ 1.5s linear infinite;
    }
    border-bottom: 1px solid #2c3847;
    background-color: $color-dark2 !important;
    margin-bottom: -105px;
    position: fixed;
    width: 100%;
    z-index: 300;
    overflow: hidden;
    @media screen and (max-width: 990px) {
        .navbar-nav {
            height: 100vh;
            padding: 50px;
        }
    }
    @keyframes activ {
        100% {
            border: 1px solid #79a2db;
            color: #79a2db;
        }
        50% {
            border: 1px solid #2c3847;
            color: $white;
        }
        0% {
            border: 1px solid #79a2db;
            color: #79a2db;
        }
    }
}

.section-pages {
    color: $white;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    margin-top: 10px;

    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
    }
    p {
        text-align: justify;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 40px;
        text-shadow: 0px 2.5px 1px rgba(255,255,255,0.3), 0px 6px 10px rgba(255, 255, 255, 0.05);
    }
    h1 {
        text-shadow: 0px 3px 1px rgba(255,255,255,0.3), 0px 6px 10px rgba(255, 255, 255, 0.3);
    }
    article {
        text-align: center;
        padding: 20px;
        img {
            margin-bottom: 40px;
            width: 256px;
            height: 256px;
            transition: all 0.2s;
            &:hover {
                filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0 4px 5px #ffffff50);
                -webkit-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 4px 5px #ffffff50);
                -moz-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 5px 4px #ffffff50);
                scale: 1.025;
            }
        }
        i {
            font-size: 34px;
            padding: 20px;
        }
        #tg {
            text-shadow: 0px 3px 1px #0088cc, 0px 6px 10px #0088cc63;
            transition: all 0.2s;
            &:hover {
                filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0 3px 5px #0088cc63);
                -webkit-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #0088cc63);
                -moz-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #0088cc63);
                scale: 1.020;
            }
        }
        #gh {
            text-shadow: 0px 3px 1px rgba(255,255,255,0.3), 0px 6px 10px rgba(255, 255, 255, 0.3);
            transition: all 0.2s;
            &:hover {
            filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0 3px 5px #ffffff2f);
            -webkit-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #ffffff2f);
            -moz-filter: brightness(114%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #ffffff2f);
            scale: 1.020;
            }
        }
    }
}

.container-skills {
   width: 90%;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
   padding: 30px;
   margin-top: 0;
   flex-wrap: wrap;
}
.container-cb {
   width: 90%;
   height: auto;
   background-color: red;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.box {
    width: 27%;
    height: 240px;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-left: -5px;
    margin-right: -5px;
    box-sizing: border-box;
    font-size: 35px;
    text-align: center;
    background-color: #161b2269;
    border: 1px solid #33445c73;
    box-shadow: 0 3px 10px #2027318c;
    border-radius: $border-radius;
    transition: all 0.2s ease-in-out;
    svg {
        transition: all 0.2s ease-in-out;
        margin-top: -70px;
        max-width: 25%;
    }
    &:hover {
        background: #191f27;
        box-shadow: 0 3px 20px #293341;
        border: 1px solid #374963;
        transition: all 0.2s;
        svg {
            transition: all 0.2s;
            filter: brightness(105%) saturate(122%) contrast(97%) drop-shadow(0 3px 5px #475970);
            -webkit-filter: brightness(105%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #475970);
            -moz-filter: brightness(105%) saturate(122%) contrast(97%) drop-shadow(0px 3px 5px #475970);
        }
    }
    .box2 {
        margin-top: -25px;
    }
    .box3 {
       margin-top: -10px;
    }
    .middle-text {
        width: 70%;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; line-clamp: 4; 
        -webkit-box-orient: vertical;
    }
}

.box-cb {
    width: 90%;
    height: 600px;
    background-color: green;
    margin: 20px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}

.to-top{
	color:white;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
    animation: arrow-movement 1s ease-in-out infinite;
    top: 97%;
}
.to-top:before{
	content: "\2191";
	font-size: 28px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
    margin-top: -3px;
}
.to-top:hover{
    color: #698bbb;
    -webkit-text-shadow: 1px 1px 16px 10px rgba(105,139,187,0.75); 
    text-shadow: 1px 1px 16px 10px rgba(105,139,187,0.75);
}

@keyframes arrow-movement {
    0% { 
        margin-top: 0;
        opacity: 1;
    }
    50% {
        margin-top: 10px;
        opacity: 0.5;
    }
    100% { 
        margin-top: 0;
        opacity: 1;
    }
}
@media screen and (max-width: 990px) {
    .section-pages {
        margin-top: 20px;
    }
    .container-skills {
        width: 100%;
        margin-top: -85px;
        padding-left: 5px;
        padding-right: 5px;
      }
    
    .box {
        width: 43%;
        height: 190px;
        font-size: 14px;
        margin-bottom: -30px;
        svg {
            margin-top: -25px;
        }
        .box3 {
            margin-top: 10px;
        }
        .middle-text {
            font-size: 10px;
            margin-top: 30px;
            margin-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8; /* number of lines to show */
                    line-clamp: 8; 
            -webkit-box-orient: vertical;
        }  
    } 
}

@media screen and (max-width: 500px) {
    .section-pages {
        margin-top: 20px;
    }
    .container-skills {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        margin-top: -85px;
        padding-left: 5px;
        padding-right: 5px;
      }
    
    .box {
        width: 43%;
        height: 190px;
        box-sizing: border-box;
        font-size: 14px;
        text-align: center;
        margin-bottom: -30px;
        svg {
            margin-top: -25px;
        }
        .box2 {
            height: 115px;
        }
        .box3 {

            margin-top: 10px;
        }
        .middle-text {
            font-size: 10px;
            margin-top: 30px;
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8; /* number of lines to show */
                    line-clamp: 8; 
            -webkit-box-orient: vertical;
        }  
    } 
    .to-top {
        top: 87%;
    }
}
